@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bs-body-font-family:  'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: linear-gradient(to left,#8a04f7e3, #2f04a7e3);
}

header {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.progress-bar-container {
    position: absolute;
    height: 8px;
    width: 85%;
    max-width: 580px;
    margin: 100px auto;
    margin-top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(230, 224, 224, 0.295);
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background: linear-gradient(to left, #d36fa6, #ff00ffe3);
    border-radius: 10px;
    transition: width 0.3s ease;
}

#perg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.container-fluid{
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
}

.container1 {
    font-size: 17px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 1px 5px 15px -3px rgba(0, 0, 0, 0.46);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    width: 100%;
    padding-bottom: 20px;
}

#esqdir {
    display: flex;
}

#esqicon {
    padding-left: 4%;
    padding-right: 8%;
}

#esqicon p {
    background-color: rgba(47, 0, 255, 0.082);
    border-radius: 50%;
    font-size: 30px;
    width: 300%;
    color: rgb(148, 47, 231);
}

#textdirei {
    text-align: left;
    margin-left: 10px;
}

#p1 {
    font-size: 20px;
    font-weight: bold;
}

#p2 {
    color: rgb(107, 107, 107);
    margin-bottom: 30px;
}

#btnf {
    padding: 15px;
    margin: 20px auto 0;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: 500;
    width: 150px;
    border: 0;
    background: linear-gradient(to left,#d36fa6, #ff00ffe3);
    color: white;
    cursor: pointer;
    display: block;
}

#btnf:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.textinesq {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btnf:hover {
    background: linear-gradient(to left,#b35f8d, #d800d8e3);
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn-option {
    font-weight: 500;
    width: 90%;
    border: 1px solid rgba(194, 192, 192, 0.137);
    padding: 10px;
    margin: 10px 10px;
    padding-left: 50px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
}

.btn-option:hover:not([disabled]) {
    border-color: rgba(174, 0, 255, 0.589);
}

.btn-option:disabled {
    cursor: no-drop;
}

.btn-option.selected {
    background-color: #43298ae3;
    color: #ffff;
}