* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    
}

#fundo {
    background: linear-gradient(to left,#8a04f7e3, #2f04a7e3);
}

header {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: rgb(230, 224, 224);
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.container1 {
    font-size: 17px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 1px 5px 15px -3px rgba(0, 0, 0, 0.46);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 40vh;
    padding-top: 40px;
    width: 70%;
}